* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  outline: none;
}

button {
  cursor: pointer !important;
  outline: none;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* == Primary theme colors == */
:root {
  --back-color: #ffffff;
  --color: #000000;
  --active-color: #00E741;
  --back-secondary-color: #242565;
  --grey: #F9F9F9;
  --white: #ffffff;
}

/* == Primary theme colors == */

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--active-color);
}

/* Animation CSS */
@keyframes bottomReveal {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal-fixed {
  transition: 2s all ease;
  animation: bottomReveal 2000ms forwards;
}

.reveal-fixed-delay {
  transition: 2s all ease;
  animation: bottomReveal 1200ms forwards;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.showreveal {
  transform: translateY(0);
  opacity: 1;
}

/* == || SCROLL BAR == */
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0px 10px;
}


header {
  width: 100%;
  background-color: var(--grey);
}

header.payment {
  background-color: var(--white) !important;
}

nav .logo img {
  width: 120px;
}

nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-container .logo {
  width: fit-content;
}

nav .nav-container .logo a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  color: var(--color);
  line-height: 34px;
}

nav .nav-container .logo img {
  width: 120px;
  margin: 0px 10px 0px 0px;
}

nav .links {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .links a {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--color);
  padding: 10px 20px;
}

nav .links a.active,
nav .links a:hover {
  color: var(--active-color);
  transition: all ease 100ms;
}

.banner {
  padding: 20px 0px;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner-container .left,
.banner-container .right {
  width: 100%;
  max-width: 480px;
  min-width: 280px;
}

.banner-container .left {
  padding: 40px 0px 0px;
}

.banner-container .left p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color);
  line-height: 23px;
  margin: 0px 0px 10px;
}

.banner-container .left h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--color);
  line-height: 48px;
  margin: 10px 0px 10px;
}

.banner-container .left .btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px 0px;
}

.banner-container .left .btns button {
  height: 60px;
  width: 182px;
  border-radius: 30px;
  margin: 0px 20px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.banner-container .left .btns button:nth-child(1) {
  background-color: var(--active-color);
  color: var(--white);
  border: 0px;
}

.banner-container .left .btns button:nth-child(2) {
  background-color: var(--white);
  color: var(--color);
  border: 1px solid var(--color);
}

.banner-container .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  max-width: 600px;
  min-width: 280px;
}

.button-slide {
  padding: 10px;
}

.button-slide button {
  background-color: var(--white);
  border: 0px;
}

.banner .slider {
  display: flex;
  overflow: hidden;
  width: 100% !important;
  max-width: 582px;
  min-width: 260px;
}

.banner .slide {
  flex: 0 0 100%;
  transition: transform 0.5s;
  width: 100% !important;
  max-width: 572px;
  min-width: 260px;
}

.banner .slide img {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
}

section.search {
  margin: 40px 0px;
}

.search-container {
  border-radius: 20px;
  padding: 40px 20px;
  width: 100%;
  background-color: var(--back-secondary-color);
}

form.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control {
  width: 100%;
  min-width: 280px;
  max-width: 340px;
}

form.search-form label {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  line-height: 20px;
}

form.search-form input {
  height: 60px;
  width: 100%;
  background-color: var(--back-secondary-color);
  border-bottom: 2px solid var(--grey) !important;
  border: 0px;
  padding: 8px 0px;
  color: #FFF;
  font-family: DM Sans !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

form.search-form input::placeholder {
  color: var(--grey);
}


/* == EVENTS == */
.events-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.events-head span {
  color: #242565;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.events-cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 0px
}

.event-card {
  height: ;
  width: 100%;
  max-width: 340px;
  min-width: 280px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  overflow: hidden;
}

.event-card img {
  width: 100%;
  vertical-align: middle;
}

.event-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px 18px;
}

.event-info .left span:nth-child(1) {
  color: #00E741;
  text-align: center;
  font-family: DM Sans !important;
  font-size: 11.372px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.event-info .left span:nth-child(2) {
  color: #000;
  font-family: DM Sans;
  font-size: 28.429px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.event-info .right {
  padding: 0px 0px 0px 10px;
}

.event-info .right h4 {
  color: #000;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.event-info .right p {
  color: #6A6A6A;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  margin: 9px 0px 0px;
}

.load-events {
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}

.load-events button {
  height: 60px;
  width: 182px;
  border-radius: 30px;
  margin: 0px 20px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  background-color: var(--white);
  color: var(--color);
  border: 1px solid var(--active-color);
  margin: auto !important;
}

/* == EVENTS == */

/* == OWN EVENTS == */
.own-event {
  background: #EEE1FF;
  margin: 100px 0px 40px;
}

.own-event-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
  position: relative;
}

.own-event-container img {
  width: 100%;
  position: absolute;
  bottom: 0px;
  max-width: 560px;
  min-width: 280px;
}

.own-event-container .left {
  width: 100%;
  max-width: 570px;
  min-width: 280px;
}

.own-event-container .right {
  width: 100%;
  max-width: 570px;
  min-width: 280px;
  padding: 20px 0px;
}

.own-event-container .right h2 {
  color: #000;
  font-family: DM Sans !important;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.own-event-container .right p {
  color: #272727;
  font-family: DM Sans !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0px;
  max-width: 382px;
}

.own-event-container .right button {
  height: 60px;
  width: 182px;
  border-radius: 30px;
  margin: 0px 20px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  background-color: var(--active-color);
  color: var(--white);
  border: 1px solid var(--active-color);
  margin: auto !important;
}

/* == OWN EVENTS == */

/* == BRANDS == */
.brands {
  margin: 40px 0px;
}

.brands-head h2 {
  color: #242565;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.brands-head p {
  color: #6A6A6A;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 613px;
  width: 100%;
  margin: 20px auto;
}

.brands-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.brand {
  width: 100%;
  max-width: 280px;
  min-width: 240px;
}

/* == BRANDS == */

/* == BLOGS == */
.blogs {
  padding: 20px 0px;
}

.blogs-head h2 {
  color: #242565;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.blogs-head p {
  color: #6A6A6A;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 613px;
  width: 100%;
  margin: 20px auto;
}

.blogs-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px 10px;
}

.blog-card {
  width: 100%;
  max-width: 330px;
  min-width: 280px;
  background-color: var(--white);
}

.blog-card img {
  width: 100%;
}

.blog-card h3 {
  margin: 20px 0px 10px;
  color: #242565;
  font-family: DM Sans !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.blog-card p {
  margin: 20px 0px;
  color: #000;
  font-family: DM Sans !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.blog-card span {
  color: #A5A5A5;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* == BLOGS == */

/* == FOOTER == */
footer {
  background-color: var(--back-secondary-color);
}

.footer-columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 15px 0px;
}

.footer-column {
  width: 280px;
  padding: 0px 0px 0px 6px;
  margin: 10px 0px;
}

.footer-column.st {
  width: 300px;
}

.footer-column.st a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-column.st a p.a {
  color: #FFF;
  font-family: Inter;
  font-size: 20.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-column.st p {
  color: #F3F3F3;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
}

.social-icons.ft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-icons.ft a {
  padding: 4px;
  margin: 0px 4px;
}

.footer-column h3 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.footer-column.nd {
  width: 240px;
}

.footer-column ul li {
  padding: 4px 0px;
  color: #F3F3F3;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  /* 28px */
}

.footer-column a {
  color: var(--white);
}

.footer-column p {
  margin: 10px 0px;
}

.footer-column.last {
  width: 300px;
}

.footer-column form {
  height: 60px;
  width: 100%;
  max-width: 364px;
  min-width: 280px;
  padding: 8px;
  background-color: var(--white);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-column form input {
  height: 100%;
  background-color: var(--white);
  color: #000000;
  font-family: DM Sans !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 10px;
}

.footer-column form input::placeholder {
  color: #959595;
}

.footer-column form button {
  height: 46px;
  width: 180px;
  background-color: #00E741;
  padding: 0px 10px;
  color: #FFF;
  font-family: DM Sans !important;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.79px;
  border: 0px;
  border-radius: 23px;
}

.copyright {
  text-align: center;
  border-top: 2px solid #4C4D8B;
  padding: 20px 0px;
}

.copyright p {
  color: #FEFEFE;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
}

/* == || FOOTER == */

/* == TICKET PAYMENT PAGE == */
section.payment {
  margin: 20px 0px;
}

.payment-container {
  border-top: 6px solid #00E741;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FAF9F9;
}

.payment-container .left {
  padding: 20px 0px;
  width: 100%;
  max-width: 450px;
  min-width: 280px;
}

.payment-container .left span {
  color: #00E741;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment-container .left h1 {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment-container .left p {
  color: #ADA2A2;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0px;
}

.payment-container .left p strong {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment-container .left h4 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 40px 0px 10px;
}

form.ticket-payment {
  height: fit-content;
  width: 100%;
}

form.ticket-payment .ticket-fm-ctrl {
  padding: 10px 0px;
}

form.ticket-payment .ticket-fm-ctrl input {
  width: 100%;
  border: 0px;
  padding: 14px 2px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FAF9F9;
  border-bottom: 1px solid #C4C4C4;
}

form.ticket-payment .ticket-fm-ctrl input::placeholder {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form.ticket-payment label {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ticket-fm-ctrl.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-fm-ctrl.total span:nth-child(1) {
  color: #000;
  text-align: center;
  font-family: DM Sans !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ticket-fm-ctrl.total span:nth-child(2) {
  color: #000;
  text-align: center;
  font-family: DM Sans !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button {
  width: 100%;
  max-width: 435px;
  height: 74px;
  border-radius: 10px;
  border: 0px;
  color: #FFF;
  text-align: center;
  font-family: DM Sans !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #00E741;
  box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
}

/* Ticket Styles */
.ticket-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff !important;
  padding: 10px 0px;
}

.ticket-container .counter-input {
  display: flex;
  align-items: center;
  background-color: #ffffff !important;
}

.ticket-button {
  padding: 5px 10px;
  font-size: 18px;
  background-color: #ffffff;
  border: 0px;
  cursor: pointer;
}

.ticket-input {
  width: 200px;
  padding: 5px 10px;
  font-size: 18px;
  border: 0px !important;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: DM Sans !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #ffffff !important;
}
.ticket-phone-input{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #C4C4C4 !important;
}
.ticket-phone-input label{
  width: 160px;
}
.ticket-phone-input input{
  width: 50% !important ;
  border-bottom: 0px solid #ffffff !important;
}
.payment-container .right {
  padding: 20px 0px;
  width: 100%;
  max-width: 572px;
  min-width: 280px;
}

.payment-container .right img{
  width: 100%;
}
/* == || TICKET PAYMENT PAGE == */