* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  outline: none;
}

button {
  cursor: pointer !important;
  outline: none;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* == Primary theme colors == */
:root {
  --back-color: #ffffff;
  --color: #000000;
  --active-color: #00E741;
  --back-secondary-color: #242565;
  --grey: #F9F9F9;
  --white: #ffffff;
}

/* == Primary theme colors == */

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--back-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--active-color);
}

/* Animation CSS */
@keyframes bottomReveal {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal-fixed {
  transition: 2s all ease;
  animation: bottomReveal 2000ms forwards;
}

.reveal-fixed-delay {
  transition: 2s all ease;
  animation: bottomReveal 1200ms forwards;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.showreveal {
  transform: translateY(0);
  opacity: 1;
}

/* == || SCROLL BAR == */
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0px 10px;
}


header {
  width: 100%;
  background-color: var(--grey);
}

nav .logo img {
  width: 120px;
}

nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-container .logo {
  width: fit-content;
}

nav .nav-container .logo a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  color: var(--color);
  line-height: 34px;
}

nav .nav-container .logo img {
  width: 120px;
  margin: 0px 10px 0px 0px;
}

nav .links {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .links a {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--color);
  padding: 10px 20px;
}

nav .links a.active,
nav .links a:hover {
  color: var(--active-color);
  transition: all ease 100ms;
}

.banner {
  padding: 20px 0px;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner-container .left, .banner-container .right {
  width: 100%;
  max-width: 480px;
  min-width: 280px;
}
.banner-container .left{
  padding: 40px 0px 0px;
}
.banner-container .left p{
  font-size: 18px;
  font-weight: 400;
  color: var(--color);
  line-height: 23px;
  margin: 0px 0px 10px;
}
.banner-container .left h1{
  font-size: 40px;
  font-weight: 700;
  color: var(--color);
  line-height: 48px;
  margin: 10px 0px 10px;
}
.banner-container .left .btns{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px 0px;
}
.banner-container .left .btns button{
  height: 60px;
  width: 182px;
  border-radius: 30px;
  margin: 0px 20px 0px 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}
.banner-container .left .btns button:nth-child(1){
  background-color: var(--active-color);
  color: var(--white);
  border: 0px;
}
.banner-container .left .btns button:nth-child(2){
  background-color: var(--white);
  color: var(--color);
  border: 1px solid var(--color);
}
.banner-container .right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  max-width: 600px;
  min-width: 280px;
}
.button-slide{
  padding: 10px;
}
.button-slide button{
  background-color: var(--white);
  border: 0px;
}
.banner .slider {
  display: flex;
  overflow: hidden;
  width: 100% !important;
  max-width: 582px;
  min-width: 260px;
}

.banner .slide {
  flex: 0 0 100%;
  transition: transform 0.5s;
  width: 100% !important;
  max-width: 572px;
  min-width: 260px;
}

.banner .slide img {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
}